<div id="contactSection">
  <!-- Contact component content -->


<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p class="py-4">Thank you for considering RealWeb. Let's turn your digital dreams into reality!</p>
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: info.com</p>
        <p>Phone: +1 234 567890</p>
        <p>Address: 123 Street, City, Country</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p>Twitter: </p>
        <p>Facebook: /example</p>
        <p>Instagram: </p>
      </div>
      <div class="col-md-4">
        <h5>Newsletter</h5>
        <p>Subscribe to our newsletter for updates!</p>
        <form>
          <input type="email" placeholder="Enter your email">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <hr>
    <p>&copy; 2023 RealWeb | All Rights Reserved</p>
  </div>
</footer>
</div>
