

<div class="jumbotron jumbotron-fluid" #up id="head">
  <div class="row g-0 text-white">
   
    <div class="model-container"style="box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25); ">
    
 
      <div *ngIf="isLoading" class="loading-message">
        Loading... <!-- You can customize this message or add a spinner/icon -->
      </div>
    </div>
   

      <div class="container text-white" >
        <h1>
         <span class="centered-text"> -Realweb-</span><br>
          <span id="Heading">Unleashing Digital</span><span class="flickering" >Creativity!</span>
        </h1>
      </div>
      
        <a (click)="scrollToDown()"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span></a>
      </div>
   
    
   
 
 <p class="lead py-5 text-center text-white">At <span style="color: red;" #down> RealWeb</span> , we are not just a team; we're a collective of creative minds passionate about pushing the boundaries of IT and design. We believe in the power of innovation and the magic that happens when technology and art intersect. Our journey began with a simple yet profound idea: to create a space where imagination thrives and ideas come to life.</p>
 <hr class="my-4">




<div class="p-5 mb-4 bg-black " style="box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25); " >
  <div class="row g-0 text-white">
    <div class="col-md-5 "><video  width="100%" autoplay loop muted>
      <source src="assets/passion.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video></div>
    <div class="col-md-7 p-5">
   <h3 >Our Mission:</h3>
   <p class="lead">We exist to empower businesses and individuals with cutting-edge IT solutions and awe-inspiring design. Our mission is to be the catalyst for digital evolution, providing our clients with the tools they need to stand out in a rapidly changing technological landscape.</p>
   
 </div>
 </div>
</div>
  <div class="p-5 mb-4 bg-black "style="box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25); ">
  <div class="row g-0 text-white">
    
    <div class="col-md-7 p-5">
   <h3>What Sets Us Apart:</h3>
   <p class="lead">In a world flooded with information, RealWeb stands out by infusing every project with a unique blend of creativity and functionality. We thrive on challenges, turning obstacles into opportunities and transforming ideas into immersive experiences. Our commitment to excellence is unwavering, ensuring that each project reflects the highest standards of quality and innovation.</p>
 </div>
 <div class="col-md-5"><video  width="100%" autoplay loop muted>
  <source src="assets/immersive.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>

 

</div>
</div>
