

<div class="jumbotron jumbotron-fluid">
  <div class="model-container"></div>
  <div class="container bg-black text-white">
   <h1 class="display-4">Welcome to RealWeb - Unleashing Digital Creativity!</h1>
 
 <p class="lead py-5 text-center">At <span style="color: red;"> RealWeb</span> , we are not just a team; we're a collective of creative minds passionate about pushing the boundaries of IT and design. We believe in the power of innovation and the magic that happens when technology and art intersect. Our journey began with a simple yet profound idea: to create a space where imagination thrives and ideas come to life.</p>
 <hr class="my-4">
</div>
</div>


<div class="p-5 mb-4 bg-black rounded-3">
  <div class="row g-0 text-white">
    <div class="col-md-5 "><video  width="100%" autoplay loop>
      <source src="assets/passion.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video></div>
    <div class="col-md-7 p-5">
   <h3 >Our Mission:</h3>
   <p class="lead">We exist to empower businesses and individuals with cutting-edge IT solutions and awe-inspiring design. Our mission is to be the catalyst for digital evolution, providing our clients with the tools they need to stand out in a rapidly changing technological landscape.</p>
   <button type="button" class="btn btn-light">Light</button>
 </div>
 
</div>
</div>




  <div class="p-5 mb-4 bg-black rounded-3">
  <div class="row g-0 text-white">
    
    <div class="col-md-7 p-5">
   <h3>What Sets Us Apart:</h3>
   <p class="lead">In a world flooded with information, RealWeb stands out by infusing every project with a unique blend of creativity and functionality. We thrive on challenges, turning obstacles into opportunities and transforming ideas into immersive experiences. Our commitment to excellence is unwavering, ensuring that each project reflects the highest standards of quality and innovation.</p>
 </div>
 <div class="col-md-5"><video  width="100%" autoplay loop>
  <source src="assets/immersive.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

 </div>

