h3{
 font-family: 'Montserrat', sans-serif;

}
#head {
 margin-top: 0; /* Remove any default margin from the jumbotron */
}

.centered-text {
 /* display: inline-block; */
 font-family: 'Outfit', sans-serif;
 position: absolute;
 top: 50vh;
 left: 10vw;
z-index: 1;
 animation: scaleText 10s infinite alternate; 
 font-size: 75px;
 color: #ff003b;
}
@keyframes scaleText {
 0% {
   transform: scale(1); /* Initial scale */
 }
 100% {
   transform: scale(1.1); /* Scale to 1.1 times */
   
 }
}
#Heading{
 font-family: 'Forum', serif;
 position: absolute;
 top: 67vh;
 left:11.5vw;
 /* Adjust the top position as needed */
 z-index: 1;
}
h1 {
 font-size: 30px;
}
.flickering {
  color: orange;
  text-shadow: 0 0 10px #ff0000;
  filter: blur(.5px) brightness(1.2);
 animation: flicker 1s infinite;
 font-family: 'Forum', serif;
 /* position: absolute; */
 z-index: 1;
}

@keyframes flicker {
 0%, 18%, 22%, 25%, 53%, 57%, 100% {
   opacity: 1;
 }
 20%, 24%, 55% {
   opacity: 0;
 }
}
@media only screen and (max-width: 426px) {
  .centered-text{
    font-size: 50px;
    
  }
  #Heading{
    top: 60vh;
    font-size: 70%;
  }
}



.model-container {
 /* position: relative; */
 width: 100%;
 height: 100%;
 
}


.loading-message {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background-color: rgba(255, 255, 255, 0.8);
 padding: 10px 20px;
 border-radius: 5px;
}

a{
 display: block;
 width: 40px;
 height: 40px;
 line-height: 40px;
 font-size: 18px;
 font-family: sans-serif;
 text-decoration: none;
 color: #333;
 border: 2px solid #333;
 letter-spacing: 2px;
 text-align: center;
 position: absolute;
 bottom: 80px; /* Adjust as needed */
 right: 5px; /* Adjust as needed */
 transition: all .35s;
}

a span{
 position: relative;
 z-index: 2;
}

a:after{
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 width: 0;
 height: 100%;
 background: #ff003b;
 transition: all .35s;
}

a:hover{
 color: #fff;
}

a:hover:after{
 width: 100%;
}